* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: 6px solid #ff7d00;
  background-color: #ffecd1;
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.main-header {
  padding: 24px;
  margin-bottom: 32px;
}

h1 {
  color: #ff7d00;
  font-size: 48px;
  letter-spacing: -1px;
}

nav {
  margin-bottom: 32px;
}

.recipes-list {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

li:last-child {
  margin: 0;
}

.recipe-link:link,
.recipe-link:visited {
  display: inline-block;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  padding: 8px 12px;
  position: relative;
  transition: background-color 0.3s;
}

.recipe-link:hover,
.recipe-link:active {
  background-color: #ccc5b9;
}

.recipe--top:link::after {
  content: "TOP";
  background-color: #ff7d00;
  color: #fff;
  font-size: 8px;
  font-weight: 700;
  padding: 3px 6px;
  border-radius: 3px;
  position: absolute;
  top: 5px;
  right: -30px;
  animation: MoveUpDown 3s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.btn--sign-up:link,
.btn--sign-up:visited,
.btn--login:link,
.btn--login:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  padding: 8px 32px;
  border-radius: 6px;
}

.btn--sign-up:link,
.btn--sign-up:visited {
  border: none;
  background-color: #ff7d00;
  color: #ffecd1;
  transition: background-color 0.3s;
}

.btn--sign-up:hover {
  background-color: #da6900;
}

.btn--login:link,
.btn--login:visited {
  color: #ff7d00;
  transition: box-shadow 0.3s;
}

.btn--login:hover {
  box-shadow: inset 0 0 0 3px #ff7d00;
}
